@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  /* background-color: aqua; */
    max-width: 1920px;
}
header{
    max-width: 100%;
    background-color:antiquewhite;
    width: 1920 ;
    height: 1000px;
}
.menu-item{
    list-style: none;
}
.list{
margin-right: 40px;
}
.list a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
}
.list a:hover{
    border: 1px solid green;
    border-radius: 5px;
    background-color: chartreuse;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;

}
.header-font{
    text-align: center;
}
.header-font h1{
    font-size: 64px;
    margin-top: 20px;
}
.header-font p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner img{
    width: 1000px;
    height: 500px;
    margin: 50px 150px 50px 150px;
    align-items: center;
    justify-content: center;

}
.midle-section{
    display: grid;
    grid-template-columns: repeat(2,200px);
    /* grid-template-rows: repeat(2 1fr); */
    gap: 10px;
    margin: 50px 0 50px 150px;
}

.grid-img img{
    width: 100%;
    height: auto;
}
.midle{
    display: flex;
    gap: 50px;
    align-items: center;
}
.Features-img{
    width: 500px;
    height: 982px;
    padding-right: 150px;
}
.Features{
    display: flex;
    gap: 100px;
    max-width: 1140px;
}
.Features-info{
    flex-direction: column;
}
.Features-head h1{
    border-left: 2px solid orangered;
    padding-left: 20px;
    margin-left: 100px;
}
.Features-head p{
    font-size: 10px;
    width: 500px;
    height: 100px;
    margin-left: 100px;
}
.Features-item{
    border: 1px solid #eee;
    background-color: #ffffff;
    box-shadow: rgba(44, 36, 36, 0.452);
    border-radius: 10px;
    margin: 10px 0 0 110px;
    width:500px;
    height: auto;
    padding: 20px;
}
#btn{
    background-color: orange;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600px;
    border-radius: 10px;
    border: #eee;
    width: 300px;
    height: 150px;
    margin-left: -50px;
    margin-top: -1000px;
}
.card-info{
    margin-left: 120px;
    margin-top: 150px;
    font-weight: 400px;
    font-size: 24px;
}
.card-item{
    gap: 50px;
    margin: 100px 350px 0 150px;
}
.card{
    border: 1px solid #FF900E;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(37, 33, 33, 0.582);
}
.card img{
    width: 45px;
    height:45px; 
 padding : 45px 98px 0px 98px ;
}
.card h3{
    padding-top: 5px;
}
.card p{
padding: 3px 32px 10px 40px;
}






















.display-flex{
    display: flex;
}
.btn{
    border: 1px solid;
    border-radius: 5px;
    background-color: orange;
    color: #ffffff;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: semibold;
    cursor: pointer;
}
